body{
    background-color: #FEFBF3;
    font-family: 'Cabin', sans-serif;
    font-size: 1.2rem;
}

.intro{
    font-weight: 700;
    padding-top: 50px;
    text-align: center;
}

#nav{
    background-color: #F8F0DF;
}

.nav-link{
    color: black;
    font-size: 1.5rem;
}

.fab{
    color: black;
}

.hover:hover{
    color: #E2C275;
}

.biofit{
    border-radius: 5%;
    width: 90%;
}

.project h1{
    text-align: center;
    margin: 50px;
    font-weight: bold;
}

.row{
    padding-top: 20px;
}

.container{
    padding-top: 50px;
}