* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #eee;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

header {
  position: relative;
  width: 100%;
}

nav {
  position: absolute;
  width: inherit;
  padding: 5rem 4rem 0;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  gap: 5rem;
  align-items: center;
  list-style: none;
  font-size: 2.6rem;
}

li a svg {
  display: block;
  width: 4rem;
  height: 4rem;
}

nav a,
.contact {
  transition: all 0.3s;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  font-weight: 500;
  color: #eee;
}

nav a:hover,
.btn__mobile svg:hover {
  color: rgb(245, 61, 33);
}

.contact {
  border: 2px solid #fff;
  padding: 1rem 2rem;
}

.contact:hover {
  border: 2px solid rgb(245, 61, 33);
}

.btn__mobile svg {
  position: absolute;
  top: 3rem;
  right: 3rem;
  font-size: 4rem;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  visibility: hidden;

  transition: all 0.4s;
}

/**************** 
* Media queries *
*****************/

/* screen > 2000px */
@media (min-width: 125em) {
  nav ul {
    font-size: 3.8rem;
  }

  li a svg {
    display: block;
    width: 5rem;
    height: 5rem;
  }
}

/* screen > 3000px */
@media (min-width: 187.5em) {
  nav ul {
    font-size: 4.8rem;
  }

  li a svg {
    display: block;
    width: 6.5rem;
    height: 6.5rem;
  }
}

/* screen < 1600px */
@media (max-width: 100em) {
  nav ul {
    gap: 3rem;
    font-size: 2.2rem;
  }

  li a svg {
    display: block;
    width: 3rem;
    height: 3rem;
  }
}

/* screen < 1312px */
@media (max-width: 82em) {
  nav ul {
    gap: 2rem;
  }
}

/* Mobile Navigation */
/* screen < 960px */
@media (max-width: 60em) {
  nav {
    padding: 0;
  }

  nav ul {
    background-color: rgba(36, 39, 42, 0.9);
    height: 100vh;
    width: 100%;
    z-index: 100;
    padding-top: 10rem;

    flex-direction: column;
    gap: 3rem;
    align-items: center;
    font-size: 2.6rem;

    /* Hide and disable */
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.4s;
  }

  .mobile__nav nav ul {
    transform: translateX(0);
    pointer-events: auto;
    visibility: visible;
  }

  .btn__mobile svg {
    z-index: 101;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}
