.skills {
  background: rgb(221, 51, 51);
  background: linear-gradient(
    340deg,
    rgba(221, 51, 51, 1) 7%,
    rgba(204, 68, 34, 1) 12%,
    rgba(0, 0, 0, 1) 35%
  );
  padding: 10rem 0;
}

.skills__box {
  background-color: #040404;
  box-shadow: 0 0 10px rgba(221, 51, 51, 0.4);
  margin: 0 auto;
  padding: 5rem 10rem;
  height: 400px;
  width: 60%;
  border-radius: 2rem;
}

.skills__box h1 {
  text-align: center;
  font-weight: 700;
  font-size: 5.4rem;
}

.skills_logo_box {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10rem;
  justify-content: center;
  font-size: 2.6rem;
}

.skills_logo_box li {
  list-style: none;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.6rem;

  display: flex;
  align-items: center;
}

.skills_logo_box li svg {
  display: block;
  margin-right: 1.2rem;
  font-size: 4rem;
}

.html svg {
  color: #f06529;
}

.css svg {
  color: #2965f1;
}

.javascript svg {
  color: #f0db4f;
}

.react svg {
  color: #61dbfb;
}

.bootstrap svg {
  color: #563d7c;
}

.git svg {
  color: #f1502f;
}

.node svg {
  color: #68a063;
}

.mongo svg {
  color: #4db33d;
}

/****************
* Media Queries *
*****************/

/* screen > 2000px */
@media (min-width: 125em) {
  .skills {
    min-height: 55rem;
  }
  .skills__box {
    height: 45rem;
  }
  .skills__box h1 {
    font-size: 6.8rem;
  }

  .skills_logo_box {
    font-size: 3.8rem;
  }

  .skills_logo_box li svg {
    font-size: 5.5rem;
  }
}

/* screen > 3000px */
@media (min-width: 187.5em) {
  .skills {
    min-height: 65rem;
  }
  .skills__box {
    height: 50rem;
  }
  .skills__box h1 {
    font-size: 7.6rem;
  }

  .skills_logo_box {
    font-size: 4.8rem;
  }

  .skills_logo_box li svg {
    font-size: 6.5rem;
  }
}

/* screen < 1320px */
@media (max-width: 82.5em) {
  .skills__box {
    height: 35rem;
    width: 65%;
    padding-top: 3rem;
  }
  .skills__box h1 {
    font-size: 4.2rem;
  }

  .skills_logo_box {
    margin-top: 1rem;
    font-size: 2.2rem;
    gap: 5rem;
  }

  .skills_logo_box li svg {
    font-size: 3.5rem;
  }
}

/* screen < 960px */
@media (max-width: 60em) {
  .skills {
    min-height: 45rem;
    padding: 8rem 0;
  }

  .skills__box {
    width: 70%;
  }
}

/* screen < 880px */
@media (max-width: 55em) {
  .skills {
    min-height: 35rem;
  }

  .skills__box {
    height: 30rem;
    padding-top: 2rem;
  }

  .skills__box h1 {
    font-size: 3.8rem;
  }

  .skills_logo_box {
    margin-top: 0;
    font-size: 1.8rem;
    gap: 2rem;
  }

  .skills_logo_box li svg {
    font-size: 3rem;
  }
}

/* screen < 710px */
@media (max-width: 44.38em) {
  .skills {
    min-height: 30rem;
    padding: 6rem 0;
  }

  .skills__box {
    height: 20rem;
    padding-top: 2rem;
  }

  .skills__box h1 {
    font-size: 2.8rem;
  }

  .skills_logo_box {
    font-size: 1.4rem;
    gap: 1rem;
  }

  .skills_logo_box li {
    margin: 0;
  }

  .skills_logo_box li svg {
    font-size: 2.5rem;
  }
}

/* screen < 540px */
@media (max-width: 35em) {
  .skills {
    min-height: 25rem;
  }

  .skills__box {
    height: 15rem;
    width: 75%;
    padding-top: 2rem;
    top: -5rem;
  }

  .skills__box h1 {
    font-size: 2.2rem;
  }

  .skills_logo_box {
    font-size: 1.2rem;
    gap: 0;
  }

  .skills_logo_box li {
    padding: 0.5rem 1.2rem;
  }

  .skills_logo_box li svg {
    font-size: 2rem;
  }
}

/* screen < 420px */
@media (max-width: 26.25em) {
  .skills {
    min-height: 20rem;
    padding: 5rem 0;
  }
  .skills__box {
    height: 12rem;
    width: 80%;
    padding-top: 1rem;
  }

  .skills__box h1 {
    font-size: 1.8rem;
  }

  .skills_logo_box {
    font-size: 1rem;
    gap: 0;
  }

  .skills_logo_box li {
    padding: 0.5rem 0.8rem;
  }

  .skills_logo_box li svg {
    font-size: 1.5rem;
    margin-right: 0.4rem;
  }
}
