.skills {
  background: rgb(221, 51, 51);
  background: linear-gradient(
    340deg,
    rgba(221, 51, 51, 1) 7%,
    rgba(204, 68, 34, 1) 12%,
    rgba(0, 0, 0, 1) 35%
  );
  min-height: 500px;
}

.skills__box {
  background-color: #040404;
  box-shadow: 0 0 10px rgba(221, 51, 51, 0.4);
  margin: 0 auto;
  padding: 5rem 10rem;
  height: 400px;
  width: 60%;

  border-radius: 2rem;
  position: relative;
  top: -8rem;
}

.skills__box h1 {
  text-align: center;
  font-weight: 700;
  font-size: 5.4rem;
}

.skills_logo_box {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10rem;
  justify-content: center;
  font-size: 2.6rem;
}

.skills_logo_box li {
  list-style: none;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.6rem;

  display: flex;
  align-items: center;
}

.skills_logo_box li svg {
  display: block;
  margin-right: 1.2rem;
  font-size: 4rem;
}

.html svg {
  color: #f06529;
}

.css svg {
  color: #2965f1;
}

.javascript svg {
  color: #f0db4f;
}

.react svg {
  color: #61dbfb;
}

.bootstrap svg {
  color: #563d7c;
}

.git svg {
  color: #f1502f;
}

.node svg {
  color: #68a063;
}

.mongo svg {
  color: #4db33d;
}
