* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #eee;
}

header {
  position: absolute;
  width: 100%;
  padding: 5rem 4rem 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  gap: 5rem;
  list-style: none;
  font-size: 2.6rem;
}

nav a,
.contact {
  transition: all 0.3s;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  font-weight: 500;
  color: #eee;
}

nav a:hover {
  color: rgb(245, 61, 33);
}

.contact {
  border: 2px solid #fff;
  padding: 1rem 2rem;
}

.contact:hover {
  border: 2px solid rgb(245, 61, 33);
}

.hero {
  height: 120vh;
  width: 100%;
  background-image: url('../../public/images/blood-moon.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__textbox {
  position: relative;
  top: 30%;
  width: 40%;
  margin-left: 10rem;
}

.hero__textbox__title__container {
  display: inline-block;
}

.hero__textbox__title {
  width: 100%;
  font-size: 6.2rem;
  font-weight: 900;
  border-right: 5px solid white;
  white-space: nowrap;
  overflow: hidden;

  animation: typing 2s steps(27), cursor 0.4s step-end infinite alternate;
}

.hero__textbox__body {
  margin-top: 2rem;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #ddd;
}

/* Animations */
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
